@import "../GenericComponents/general.scss";

.userDataHolder {
}

.userDataItem {
  padding: 0.5rem;
  color: $accent-darker;

  .hiddenIcon {
    visibility: hidden;
  }

  .item {
    margin: 0.5rem;
  }

  .userDataIcon {
    color: $accent-darker;
    margin-top: 0.75rem;
  }

  .itemData {
    color: $accent-dark;
  }

  &:hover {
    .hiddenIcon {
      visibility: visible;
    }
  }
}

.avatar {
  color: $accent-darker;
  margin: auto;
}

@media (min-width: $tablet) {
  .avatar {
    max-width: 6rem;
    max-height: 6rem;
  }
}
