@import "../GenericComponents/general.scss";

.userDataItem {
  padding: 0.5rem;
  color: $accent-darker;

  .hiddenIcon {
    visibility: hidden;
  }

  .item {
    margin: 0.5rem;
  }

  .userDataIcon {
    color: $accent-darker;
    margin-top: 0.75rem;
  }

  .itemData {
    color: $accent-dark;
  }

  &:hover {
    .hiddenIcon {
      visibility: visible;
    }
  }
}

.avatarHolder {
  position: relative;

  .actionIcon {
    position: absolute;
    right: 0;
    margin: 0;
    margin-top: -0.8rem;
    margin-right: -0.5rem;
  }
}

.avatar {
  color: $accent-darker;
  margin: auto;

  .actionIcon {
    position: absolute;
    right: 0;
  }
}

@media (min-width: $tablet) {
  .avatar {
    max-width: 6rem;
    max-height: 6rem;
  }
}
