.appContainer {
  width: 98%;
  height: 100%;
  padding: 2%;
  background-color: #f1f9ff;
  position: relative;
  overflow: visible;
}

#centralHolder {
  position: inherit;
  top: 5%;
}

#centralHolder h3,
p {
  color: #2699fb;
  margin-top: 2%;
}

.buttonsHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonsHolder a {
  margin: 5px;
}
