@import "../../GenericComponents/general.scss";

.houseCardHolder {
  width: 100%;
  margin: 0.2rem;
  padding: 0.3rem;
  color: $accent-dark;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  max-width: 100%;

  h5 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: $primary-color-dark;
  }

  p {
    font-size: 0.8rem;
  }

  ul {
    list-style: none;
  }

  .buttonsHolder {
    margin-top: 0;
  }
}

.houseAvatar {
  color: $accent-darker;
  opacity: 0.3;
  max-width: 5rem;
  max-height: 5rem;
  margin: 0 auto;
}

.fullCardIcon {
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: $accent-darker;
  opacity: 0.3;
  padding: 0.5rem;
  margin: auto;
}

.activeCard {
  box-shadow: $shadow-primary;

  &.card {
    border-color: $primary-color-dark;
  }
}

.houseForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 4%;
  margin: auto;

  label {
    display: inline;
    word-wrap: normal;
  }

  input {
    display: inline;
    flex: 1;
  }

  textarea {
    border-radius: 1rem;
    display: inline;
    flex: 1;
  }

  select {
    width: fit-content;
    flex: 1;
  }
}

@media (min-width: $tablet) {
  .houseCardHolder {
    max-width: 33%;
  }
}
