.Bills-topNav {
    width: 100%;
    display: block;
}

.Bills-nav {
    text-align: right;
    width: 100%;
}

.Bills-topNav button {
    margin: 20px;
    float: right;
}

.Bills-leftNav {
    width: 150px;
    border-right: 1px solid black;
    margin: 0px;
    float: left;
}

.Bills-leftNav button {
    margin: 20px;
    text-align: center;
}

.Bills-mainContent {
    width: 100%;
    text-align: center;
}

.Bills-columns {
    float: left;
    width: 30%;
    padding: 10px;
}

.sideButton {
    background-color: #ffffff;
    border: none;
    color: #000000;
    box-shadow: none;
    text-shadow: none;
    font-size: large;
    margin: 20px;
    text-align: center;
}

.sideButton:hover {
    background-color: #249696;
    cursor: pointer;
}