@import "../GenericComponents/general.scss";

.billsHolder {
  margin: 0;
}

.billItem {
  .billsGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 3fr 4fr auto;
    grid-template-rows: auto;

    .gridItem {
      p {
        font-size: 0.8rem;
      }
    }
  }

  .billsIconsHolder {
    align-items: center;
    justify-content: center;
    margin-top: -0.5rem;

    .billActionIcon {
      position: relative;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      font-size: 1.25rem;

      &:nth-child(2) {
        margin: 0;
      }
    }
  }
}

@media (min-width: $tablet) {
  .billsHolder {
    margin: 1rem;
  }

  .billItem {
    .billsGrid {
      grid-template-columns: 2fr 3fr 3fr 5fr auto;

      .gridItem {
        p {
          font-size: 1rem;
        }
      }
    }
  }
}
