@import "./ui_consts.scss";

.ic {
  color: $accent-darker;
  margin: 0.5rem;
  cursor: pointer;
}

.ic_lg {
  font-size: $large-icon;
}

.ic_md {
  font-size: $medium-icon;
}

.ic_sm {
  font-size: $small-icon;
}

.ic_fade {
  opacity: 0.3;
}

.ic_decore {
  cursor: none;
}

.ic_roomies {
  color: $accent-darker;

  &:hover {
    color: $primary-color-dark;
  }
}

.ic_success {
  color: $accent-darker;

  &.active {
    color: $accent-green;
  }

  &:hover {
    color: $accent-green;
  }
}

.ic_alert {
  color: $accent-darker;

  &.active {
    color: $accent-red;
  }

  &:hover {
    color: $accent-red;
  }
}

.ic_light {
  color: $accent-light;
}

@media (min-width: $tablet) {
  .ic_hidden {
    visibility: hidden;
    &:hover {
      visibility: visible;
    }
  }
}
