.sideButton {
    background-color: #ffffff;
    border: none;
    color: #000000;
    box-shadow: none;
    text-shadow: none;
    font-size: large;
    margin: 20px;
    text-align: center;
}

.sideButton:hover {
    background-color: #249696;
    cursor: pointer;
}

.sideButton:active {
    border-color: #249696;
}

.leftButtons {
    width: 150px;
    border-right: 1px solid black;
    margin: 0px;
    float: left;
}

